
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

label {
    margin: 0;
}
 textarea, input {
     display: block;
}

.create-form__question {
    width: 250px;
    height: 50px;
    margin: 2em;
}

.create-form__answer {
    width: 250px;
    height: 50px;
    margin: 2em;
}

.create-form__tags {
    width: 250px;
    height: 50px;
    margin: 2em;
}

.create-form__button {
    margin: 0 auto 1em;
    display: block;
    padding: .5em 1em;
    text-transform: uppercase;
    

}






